<ul>
  <li>
    <%= link_to event.name, event_path(event) %>
    <ul>
      <% event.artists.each do |artist| %>
      <li>
        <%= artist.name %>
      </li>
      <% end %>
    </ul>
  </li>
</ul>
