<div class="text-center" id="search">

  <h1 class="badge-secondary">
      Results for '<%= @query %>'</h1>

  <br>

  <h3
    class = "flexBox badge-secondary"
    style = "background-color: lightgrey;
      color: black;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;"
  >
    Events:
  </h3>

  <br>

  <%= render @events %>

  <h3
    class = "flexBox badge-secondary"
    style = "background-color: lightgrey;
      color: black;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;"
  >
    Artists:
  </h3>

  <br>

  <div style="overflow-y: scroll; max-height: 500px; background: rgb(0, 0, 0, 0.4); width: 300px; justify-content: center; margin: auto;">
    <%= render @artists %>
  </div>
  
  <!-- <h3
    class = "flexBox badge-secondary"
    style = "background-color: lightgrey;
      color: black;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;"
  >
    Users:
  </h3>

  <br>

  <%#= render @users %> -->

</div>
